* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
    background: linear-gradient(to right, white, gray);
}

.calculator-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Viewpoint Height */
    min-height: 100vh;
}

.display-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    height: 140px;
    width: 400px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #22252d;
    color: white;
}

.previous,
.current {
    padding: 15px;
    color: white;
}

.previous {
    font-size: 20px;
}

.current {
    font-size: 36px;
    font-weight: 700;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    height: 440px;
    width: 400px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #2a2d37;
}

.row1-container,
.row2-container,
.row3-container,
.row4-container,
.row5-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    height: 100px;
    width: 400px;
    padding: 15px;
}

.row1,
.row2,
.row3,
.row4,
.row5 {
    flex: 1;
    height: 55px;
    border: 0;
    border-radius: 25px;
    font-size: 22px;
    background-color: #22252d;
    color: white;
}

.wide {
    flex:2.25;
    background-color: orange;
}

.op {
    font-size: 28px;
    color: lightgreen;
}

.row1:hover,
.row2:hover,
.row3:hover,
.row4:hover,
.row5:hover {
    background-color: darkgray;
}

.wide:hover {
    background-color: lightsalmon;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 400px;
    margin-top: 60px;
    background-color: blue;
    color:white;
}

a {
    text-decoration: none;
    color: white;
}